# Ignore vtk-related files
*.vtk
*.vtm

# Ignore folders
citymodel
citymodel_full
citymodel_sol_grid
cm
mesh
mesh_intersection_points
mesh_intersections_test
mesh_sol_grid
mesh_sol_grid_sun_path_intersections
mesh_sol_grid_sun_path_rays
__pycache__

# Ignore certain scripts
test.py